#switch-platform > option[value=all] {
    content: "All platforms"!important
}

* {
    max-height: 100vh!important;
    max-width: 100vw!important
}

.banner.small-banner,
.filter > .switch-platform > label,
.js-download-section h3,
.js-download-section hr,
.navbar::before {
    display: none
}

.column,
.details-column {
    min-height: unset!important;
    width: 100%!important;
    flex-grow: unset!important
}

.details-view {
    display: flex;
    flex-direction: column
}

.download-section {
    margin-top: 5px!important;
    order: -1
}

.key-redeemers .platform {
    margin-top: 0!important
}

.details-column .scroll-follower {
    height: 25vh
}

.details-heading {
    order: -2
}

.details-heading .text-holder {
    width: 50%!important;
    margin-top: 0!important;
    margin-left: 0!important
}

.details-heading .text-holder h2 {
    white-space: unset!important;
    height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.details-heading a {
    display: block!important
}

div.select-holder {
    order: -3;
}

.download-list {
    flex-direction: column;
    width: 100vw!important
}

.download-section .download-button {
    font-size: 24px
}

.details-column {
    order: 0
}

div.custom-select {
    height: 12% !important;
}

div.custom-select .selected {
    height: 100%;
}

div.custom-select:not(.expanded) .choices-holder {
    display: none;
}

.details-column .details-holder {
    padding-bottom: 0!important;
    padding-top: 5px!important
}

.hb-search,
.scrollbar-hider {
    order: 1
}

.filter {
    display: flex;
    width: -moz-available!important
}

.header {
    margin-bottom: 10px;
    padding: 5px
}

.switch-platform {
    margin-right: 5px
}

.header .container .search,
.switch-platform {
    align-self: center;
    top: 0!important;
}

.hb.hb-search-fa,
.header .container h1,
.navbar-item.logo-navbar-item,
label[for=download-method],
label[for=sort-order] {
    display: none!important
}

.js-search,
.search,
.header .container,
.header .container .sort select,
.header .container .switch-download-method select,
.header .container .switch-platform select,
.header .container .switch-sort-order select,
div.filter {
    width: -moz-available;
}

.inner-main-wrapper {
    margin-top: 0!important;
    padding: 0!important
}

.mm-slideout,
.page-wrap {
    max-height: 100vh
}

.mm-wrapper {
    overflow-y: hidden;
    min-width: unset!important
}

.navbar {
    box-shadow: unset;
    height: 56px!important;
    width: 50px;
    background-color: black;
}

.navigation-container-v2 {
    height: 0
}

.selector-content,
.subproduct-selector,
.subproducts-holder {
    width: unset!important
}

.tabbar {
    align-content: start!important;
    justify-content: start!important;
    width: 100vw;
    overflow: scroll!important
}

.tabbar::before {
    content: ""!important;
    min-width: 50px!important
}

.base-main-wrapper {
    height: calc(100vh - 122px)
}

.tabbar-tab {
    padding-left: 5px;
    padding-right: 5px
}

html body hr {
    height: 5px!important;
    margin: 0!important
}

.switch-download-method,
.switch-sort-order {
    width: 50vw!important;
    display: unset!important
}

.switch-sort-order {
    margin-right: 2%
}

.download-list .custom-select .selected,
.js-choices {
    font-size: 18px!important;
    padding: 2px!important
}

.js-download-button {
    width: unset!important;
    font-size: 18px!important
}

.hb-caret-down {
    display: none!important
}

.js-choices-holder {
    margin-left: 6px!important;
    padding-right: 6px!important
}

.hb-search::before,
.js-clear-search::before {
    font-size: 24px;
    vertical-align: top;
}

.search i.hb {
    margin-top: 2px;
    align-self: start !important;
    position: unset !important;
}

i.hb-search {
    order: 0 !important;
}

i.clear-search {
    order: 2 !important;
}


div.subproduct-selector,
div.selector-content,
div.selector-content .icon {
    height: 7vw;
}

.selector-content .text-holder p {
    display: none;
}

.text-holder {
    margin: 1vw;
}

#search.js-search {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: -moz-available;
    height: 100% !important;
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: -2px;
    order: 1 !important;
}

div.switch-platform,
select#switch-platform {
    width: 30vw !important;
}

div.search {
    height: 100% !important;
    display: flex !important;
}

div.js-platform-select-holder {
    position: unset !important;
}
